@model PassionProject.TravelWorlds.Models.ViewModels.UpdatePlace

@{
    ViewBag.Title = "Edit";
}

<div style="font-size:30px; float:right;">
    <a href="/Places/List">Cancel</a>
</div>
<h2>Edit Place</h2>

<form action="/Places/Update/@Model.SelectedPlace.PlaceID" method="POST">

    <div>
        <label>Places Id: </label> <input type="text" name="PlaceID" value="@Model.SelectedPlace.PlaceID" />
    </div>

    <div>
        <label>Places Name: </label> <input type="text" name="PlaceName"  value="@Model.SelectedPlace.PlaceName"/>
    </div>
    <div>
        <label> Places Reviews: </label> <input type="text" name="PlaceReviews" value="@Model.SelectedPlace.PlaceReviews"/>
    </div>
    <div>
        <label> Province:</label>
        <select name="ProvinceID">
            @foreach (var province in Model.ProvinceOptions)
            {
                <option value="@province.ProvinceID"> @province.ProvinceName </option>
            }
        </select>
    </div>

    <div>
        <input type="submit" value="Edit Place" />
    </div>
</form>

